@model IEnumerable<Flight>

@{
    ViewData["Title"] = "FLight";
}

<div class="container">
    
    <div class="row">
        <div class="col-10">
            <h1>Flight List</h1>
        </div>
        <div class="col">
            <a asp-action="Create" class="btn btn-lg btn-primary">+ Add Flight</a>
        </div>

    </div>
</div>

<div class="container-fluid">
    
    @if (Model.Any())
    {
        <table class="table">
            <tr>
                <th>Flight Number</th>
                <th>Flight Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Total Capacity</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var flight in Model)
            {
                <tr>
                    <td>@flight.FlightNumber</td>
                    <td>@flight.FlightName</td>
                    <td>@flight.FlightType</td>
                    <td>@flight.Discription</td>
                    <td>@flight.TotalCapacity</td>
                    <td><a asp-action="Edit" asp-route-id="@flight.FlightId" class="btn btn-primary">Edit</a></td>
                    <td><a asp-action="Delete" asp-route-id="@flight.FlightId" class="btn btn-danger" onclick="return confirm('Do you want to Delete the Flight ?')">Delete</a> </td>

                </tr>
                <tr>
                    
                    
                </tr>

            }
        </table>
       
    }
    else
    {
        <div class="alert alert-info ">
            No Flights Were Found. Please Add a flight.
        </div>

    }

    

</div>
